<div class="card bg-light mb-3">
    <div class="card-header"> {{title}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/hospitales">back</button>

        <form class="form-group">

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input id="nombre" class="form-control" type="text" name="nombre" [(ngModel)]="model.nombre">
                <div class="alert alert-danger" *ngIf=" error?.nombre">
                    {{error.nombre}}
                </div>
            </div>
            <div class="form-group">
                <label for="razonSocial">Razon Social</label>
                <input id="razonSocial" class="form-control" type="text" name="razonSocial"
                    [(ngModel)]="model.razonSocial">
                <div class="alert alert-danger" *ngIf=" error?.razonSocial">
                    {{error.razonSocial}}
                </div>
            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input id="telefono" class="form-control" type="tel" name="telefono" [(ngModel)]="model.telefono">
                <div class="alert alert-danger" *ngIf=" error?.telefono">
                    {{error.telefono}}
                </div>
            </div>
            <div class="form-group">
                <label for="direccion">Direccion</label>
                <input id="direccion" class="form-control" type="text" name="direccion" [(ngModel)]="model.direccion">
                <div class="alert alert-danger" *ngIf=" error?.direccion">
                    {{error.direccion}}
                </div>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <input id="tipo" class="form-control" type="text" name="tipo" [(ngModel)]="model.tipo">
                <div class="alert alert-danger" *ngIf=" error?.tipo">
                    {{error.tipo}}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button" (click)="model.id? editar(): crear()">
                    {{model.id? 'edit': 'create'}}
                </button>
            </div>
        </form>
    </div>
</div>