<div class="card bg-light mb-3">
    <div class="card-header"> {{title}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/historyAssignments">back</button>

        <form class="form-group">

            <div class="form-group">
                <label class="form-label" for="patient">Patient</label>
                <select id="patient" class="form-control" [(ngModel)]="model.patient" name="patient">
                    <option [ngValue]="undefined">--- Select a patient ---</option>
                    <option *ngFor="let patient of patients" [ngValue]="patient">{{patient.name}}
                        {{patient.surname}}</option>
                </select>
                <div class="alert alert-danger" *ngIf=" error?.patient">
                    {{error.patient}}
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="bed">Bed</label>
                <select id="bed" class="form-control" [(ngModel)]="model.bed" name="bed">
                    <option [ngValue]="undefined">--- Select a bed ---</option>
                    <option *ngFor="let bed of beds" [ngValue]="bed">{{bed.code}}</option>
                </select>
                <div class="alert alert-danger" *ngIf=" error?.bed">
                    {{error.bed}}
                </div>
            </div>

            <!-- <div class="col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="estado0"></label><br />
                    <input class="form-check-input" id="estado" type="radio" name="estado" value=true checked="checked"
                        [(ngModel)]="model.estado" />
                    <label class="form-check-label" for="estado1">Asignar</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="estado" type="radio" name="estado" value=false
                        [(ngModel)]="model.estado" />
                    <label class="form-check-label" for="estado2">Disponible</label>
                </div>
                <div class="alert alert-danger" *ngIf=" error?.estado">
                    {{error.estado}}
                </div>
            </div> -->

            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input id="startDate" class="form-control" type="date" name="startDate" [(ngModel)]="model.startDate">
                <div class="alert alert-danger" *ngIf=" error?.startDate">
                    {{error.startDate}}
                </div>
            </div>

            <div class="form-group">
                <label for="endDate">End Date</label>
                <input id="endDate" class="form-control" type="date" name="endDate" [(ngModel)]="model.endDate">
                <div class="alert alert-danger" *ngIf=" error?.endDate">
                    {{error.endDate}}
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="button" (click)="model.id? editar(): crear()">
                    {{model.id? 'edit': 'create'}}
                </button>
            </div>
        </form>
    </div>
</div>