<div class="card bg-light mb-3">
    <div class="card-header"> {{title}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/historyAssignments">back</button>

        <form class="form-group">

            <div class="form-group">
                <label class="form-label" for="patient">Paciente</label>
                <select id="patient" class="form-control" [(ngModel)]="model.patient" name="patient">
                    <option [ngValue]="undefined">--- Seleccione una paciente ---</option>
                    <option *ngFor="let paciente of pacientes" [ngValue]="paciente">{{paciente.nombre}}
                        {{paciente.apellido}}</option>
                </select>
                <div class="alert alert-danger" *ngIf=" error?.paciente">
                    {{error.paciente}}
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="bed">Cama</label>
                <select id="bed" class="form-control" [(ngModel)]="model.bed" name="bed">
                    <option [ngValue]="undefined">--- Seleccione una cama ---</option>
                    <option *ngFor="let cama of camas" [ngValue]="cama">{{cama.codigo}}</option>
                </select>
                <div class="alert alert-danger" *ngIf=" error?.cama">
                    {{error.cama}}
                </div>
            </div>


            <div class="col-md-4">


                <div class="form-check">
                    <label class="form-check-label" for="estado0"></label><br />
                    <input class="form-check-input" id="estado" type="radio" name="estado" value=true checked="checked"
                        [(ngModel)]="model.estado" />
                    <label class="form-check-label" for="estado1">Asignar</label>
                </div>
                <!-- <div class="form-check">
                    <input class="form-check-input" id="estado" type="radio" name="estado" value=false
                        [(ngModel)]="model.estado" />
                    <label class="form-check-label" for="estado2">Disponible</label>
                </div> -->
                <div class="alert alert-danger" *ngIf=" error?.estado">
                    {{error.estado}}
                </div>
            </div>
           
            <div class="form-group">
                <label for="fechaInicio">Fecha Inicio</label>
                <input id="fechaInicio" class="form-control" type="date" name="fechaInicio" [(ngModel)]="model.fechaInicio">
                <div class="alert alert-danger" *ngIf=" error?.fechaInicio">
                    {{error.fechaInicio}}
                </div>
            </div>

            <div class="form-group">
                <label for="fechaFin">Fecha Fin</label>
                <input  id="fechaFin" class="form-control" type="date" name="fechaFin" [(ngModel)]="model.fechaFin">
                <div class="alert alert-danger" *ngIf=" error?.fechaFin">
                    {{error.fechaFin}}
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="button" (click)="model.id? editar(): crear()">
                    {{model.id? 'edit': 'create'}}
                </button>
            </div>
        </form>
    </div>
</div>