<div class="card bg-light mb-3">
    <div class="card-header"> {{title}}</div>
    <div class="card-body">
        <!-- <div class="card-body text-primary"> -->
        <button class="btn btn-primary my-2" routerLink="/historyAssignments/form">create</button>
        <div class="alert alert-info" *ngIf="lista?.length==0">
            There aren't history of assignments in the system
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead>
                <th>Id</th>
                <th>Cama</th>
                <th>Paciente</th>
                <th>Enfermera</th>
                <th>Estado</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Update </th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let history_assignment of lista">
                    <td>{{history_assignment.id}}</td>
                    <td>{{history_assignment.bed.codigo}}</td>
                    <td>{{history_assignment.patient.nombre}}</td>
                    <td>{{history_assignment.bed.nurse.nombre}}</td>
                    <td>
                        <span *ngIf="history_assignment.estado==true" class="badge bg-danger"> Ocupada </span>
                        <span *ngIf="history_assignment.estado==false" class="badge bg-success"> Libre </span>

                    </td>
                    <!-- <span (click)="changeMethod()" *ngIf="!isNullOrUndefined(class?.classForeignId)">Libre </span> -->

                    <td>{{history_assignment.fechaInicio}}</td>
                    <td>{{history_assignment.fechaFin}}</td>


                    <td> <button class="btn btn-secondary btn-sm"
                            [routerLink]="['/historyAssignments/form', history_assignment.id]">edit</button></td>
                    <td> <button class="btn btn-danger btn-sm" (click)="eliminar(history_assignment)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>