<div class="card bg-light mb-3">
    <div class="card-header"> {{title}}</div>
    <div class="card-body">
        <!-- <div class="card-body text-primary"> -->
        <button class="btn btn-primary my-2" routerLink="/camas/form">create</button>
        <div class="alert alert-info" *ngIf="lista?.length==0">
            There aren't beds in the system
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead>
                <th>Id</th>
                <th>Code</th>
                <th>State</th>
                <th>Nurse</th>
                <!-- <th>Pacientes</th> -->
                <th>Update </th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let bed of lista">
                    <td>{{bed.id}}</td>
                    <td>{{bed.code}}</td>
                    <td>
                        <span *ngIf="bed.state === true" class="badge bg-danger"> Busy </span>
                        <span *ngIf="bed.state === false" class="badge bg-success"> Not Busy </span>
                    </td>
                    <td>{{bed.nurse.name}} {{bed.nurse.surname}}</td>

                    <!-- <td>
                        <button class="btn btn-info btn-sm" [routerLink]="['/beds/asignar-paciente',bed.id]">
                            añadir({{bed.patient}});
                        </button>
                    </td> -->

                    <td> <button class="btn btn-secondary btn-sm" [routerLink]="['/camas/form', bed.id]">edit</button>
                    </td>
                    <td> <button class="btn btn-danger btn-sm" (click)="eliminar(bed)">delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>