<div class="card bg-light mb-3">
    <div class="card-header"> {{title}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/camas">back</button>

        <form class="form-group">

            <div class="form-group">
                <label for="code">Code</label>
                <input id="code" class="form-control" type="text" name="code" [(ngModel)]="model.code">
                <div class="alert alert-danger" *ngIf=" error?.code">
                    {{error.code}}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="state0"></label><br />
                    <input class="form-check-input" id="state" type="radio" name="state" value=false
                        [(ngModel)]="model.state" />
                    <label class="form-check-label" for="state2">Available</label>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="state1"></label><br />
                    <input class="form-check-input" id="state" type="radio" name="state" value=true checked="checked"
                        [(ngModel)]="model.state" />
                    <label class="form-check-label" for="state1">Busy</label>
                </div>

                <div class="alert alert-danger" *ngIf=" error?.state">
                    {{error.state}}
                </div>
            </div>


            <div class="form-group">
                <label class="form-label" for="nurse">Nurse</label>
                <select id="nurse" class="form-control" [(ngModel)]="model.nurse" name="nurse">
                    <option [ngValue]="undefined">--- Select a nurse ---</option>
                    <option *ngFor="let nurse of nurses" [ngValue]="nurse">{{nurse.name}}
                        {{nurse.surname}}</option>
                </select>
                <div class="alert alert-danger" *ngIf=" error?.nurse">
                    {{error.nurse}}
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="button" (click)="model.id? editar(): crear()">
                    {{model.id? 'edit': 'create'}}
                </button>
            </div>
        </form>
    </div>
</div>